.blogLeftArticles {
    width: var(--width100);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .customCard {
        width: var(--width100);
        background: var(--white-color);
        box-shadow: 0px 7px 32px rgba(0, 0, 0, 0.04);
        border-radius: var(--br4);
        padding: var(--p30) var(--p30);
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    h4 {
        font-weight: var(--fw700);
        font-size: var(--fs28);

        a {
            color: var(--black-color);
            transition: 0.3s;

            &:hover {
                color: var(--orange-color);
            }
        }
    }

    /* search */

    .searchKeyword {
        width: var(--width100);

        .searchKeywordInner {
            width: var(--width100);
            display: flex;
            flex-direction: column;
            gap: 8px;

            h6 {
                font-size: var(--fs16);
                color: var(--black-color);
            }

            .input-group {
                display: flex;
                background: #fdf1e6;
                border-radius: var(--br4);
                overflow: hidden;
                margin-top: var(--m10);

                .form-control {
                    border: 0;
                    height: 50px;
                    flex: 1;
                    padding: var(--p0) var(--p14);
                    font-size: var(--fs16);
                    background: transparent;

                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }

                .input-group-text {
                    width: 50px;
                    border: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: var(--orange-color);
                    color: var(--white-color);
                    cursor: pointer;
                    transition: 0.3s;

                    svg {
                        font-size: var(--fs18);
                    }

                    &:hover {
                        background: var(--orange-color);
                    }
                }
            }
        }
    }

    /* categories */

    .postCategories {
        width: var(--width100);

        .list-group {
            .list-group-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 0;
                border-bottom: 1px solid var(--grayColorShade1);
                padding: var(--p12) var(--p12);
                color: var(--black-color);
                transition: 0.3s;

                &:hover {
                    color: var(--orange-color);
                }

                &.active {
                    background: var(--orange-color);
                    color: var(--white-color)
                }

                p {
                    margin: 0;
                }

                span {
                    font-size: var(--fs16);
                    font-weight: var(--fw600);
                }
            }
        }
    }

    /* recent post */

    .recentPost {

        .recentPostGroupList {
            border-bottom: 1px solid var(--grayColorShade1);
            padding: 18px 0;

            &:last-child {
                border-bottom: 0;
                padding-bottom: 0;
            }

            a {
                display: grid;
                grid-template-columns: 90px 1fr;
                gap: 15px;
                align-items: center;
                color: #333;

                &:hover p {
                    color: #fb8500;
                }
            }

            .recentPostImg {

                img {
                    width: 90px;
                    height: 70px;
                    object-fit: cover;
                    border-radius: 5px;
                }

            }

            .recentPostTxt {

                p {
                    font-size: 16px;
                    font-weight: 600;
                    margin-bottom: 5px;
                    transition: 0.3s;
                }

                span {
                    font-size: 13px;
                    color: #777;
                }

            }

        }

    }

    /* tags */

    .popularTags {

        .tagGroup {

            ul {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;

                .tag {
                    border: 1px solid #ddd;
                    padding: 6px 18px;
                    border-radius: 3px;
                    font-size: 14px;
                    color: #111;
                    transition: 0.3s;

                    &:hover {
                        border-color: #fb8500;
                        color: #fb8500;
                    }

                    &.tagActive {
                        background: #fb8500;
                        border-color: #fb8500;
                        color: #fff;
                    }
                }

            }

        }

    }

    /* social icons */

    .ipSocialMedia {

        .ipSocialMediaIcon {

            ul {
                display: flex;
                gap: 10px;
            }

            .tag {
                width: 40px;
                height: 40px;
                border: 1px solid #ddd;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                transition: 0.3s;

                svg {
                    font-size: 18px;
                }

                &:hover {
                    background: #fb8500;
                    border-color: #fb8500;
                    color: #fff;
                }
            }

        }

    }

}