.blogRightArticles {
    width: var(--width100);
    height: 100%;
    background-color: var(--white-color);

    .blogWithSidebarRow {
        row-gap: 20px;
    }

    .latestNewsCardInner {
        width: var(--width100);
        padding: var(--p16);
        background: var(--white-color);
        border-radius: var(--br4);
        position: relative;
        z-index: 2;
        height: 100%;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 7px 32px rgba(0, 0, 0, 0.04);

        .latestNewsCardImg {
            position: relative;

            img {
                width: var(--width100);
                display: block;
            }

            iframe {
                width: var(--width100);
                height: 420px;
                border: 0;
            }

            .latestNewsDate {
                position: absolute;
                bottom: -25px;
                right: 20px;

                a {
                    background: var(--orange-color);
                    display: flex;
                    flex-direction: column;
                    width: 60px;
                    height: 60px;
                    color: var(--white-color);
                    align-items: center;
                    border-radius: 50px;
                    border: 4px solid var(--white-color);
                    text-decoration: none;
                    justify-content: center;

                    h5 {
                        font-size: var(--fs16);
                        color: var(--white-color);
                    }

                    span {
                        font-size: var(--fs12);
                        color: var(--white-color);
                    }
                }
            }
        }

        .latestNewsCardInnerContent {
            width: var(--width100);
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: var(--p20) var(--p0);

            .latestNewsList {
                display: flex;
                gap: 20px;

                a {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    color: var(--dark-gray);
                    font-size: var(--fs16);

                    svg {
                        color: var(--orange-color);
                    }

                    &:hover {
                        color: var(--orange-color);
                    }
                }
            }

            .latestNewsTxt {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;

                h4 {
                    font-size: var(--fs26);
                    font-weight: var(--fw600);

                    a {
                        color: var(--black-color);

                        &:hover {
                            color: #fb8500;
                        }
                    }
                }

                p {
                    font-size: var(--fs18);
                    color: var(--dark-gray);
                    font-weight: var(--fw400);
                }
            }

            .latestNewBtn {
                margin-top: var(--m10);
            }
        }
    }

    .ipQuoteBlog {
        background: var(--orange-color);
        color: var(--white-color);
        padding: var(--p40);
        border-radius: var(--br10);

        .ipQuote {
            display: flex;
            flex-direction: column;
            gap: 20px;

            p {
                font-size: var(--fs42);
                color: var(--white-color);
                font-weight: var(--fw600);
                text-align: center;
            }

            .ipAwesomeAuthor {
                display: flex;
                justify-content: space-between;

                span {
                    font-size: var(--fs16);
                    color: var(--white-color);
                    font-weight: var(--fw400);
                }
            }
        }
    }
}