@use "../../../styles/mixins/mixins" as *;



// footerOne //
.footerOne {
    width: var(--width100);
    background: var(--bg-dark);
    color: var(--white-color);
    padding: var(--p50) var(--p50) var(--p20) var(--p50);
    display: flex;
    gap: 20px;
    flex-direction: column;

    .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: var(--mr40);

        h2 {
            font-size: var(--fs36);
            color: var(--white-color);
        }



        .subscribe-box {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 20px;

            input {
                padding: var(--p12) var(--p12);
                border-radius: var(--br10);
                border: none;
                color: var(--gray-color);
                font-size: var(--fs16);
            }



            button {
                padding: var(--p12) var(--p20);
                border-radius: var(--br10);
                background: var(--orange-color);
                border: none;
                cursor: pointer;
                transition: var(--transition3);
                border: 1px solid var(--orange-color);

                &:hover {
                    background-color: var(--transparent);
                    color: var(--orange-color);
                }
            }
        }


    }

    .footer-links {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 30px;

        .footer-column {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h4 {
                font-size: var(--fs28);
                color: var(--white-color);
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 8px;

                li {

                    a {
                        display: inline-block;
                        color: var(--gray-color);
                        font-size: var(--fs16);
                        cursor: pointer;
                        transition: all 1s;

                        &:hover {
                            color: var(--orange-color);
                            transition: all .5s;
                            transform: translateX(10px);
                        }
                    }
                }
            }
        }
    }

    .footer-bottom {
        margin-top: var(--m20);
        text-align: center;
        border-top: 1px solid var(--white-color);
        padding-top: var(--p20);

        p {
            color: var(--white-color);
            font-size: var(--fs18);
        }
    }
}

// footerTwo //
.footerTwo {
    width: var(--width100);
    background: var(--bg-dark);
    color: var(--white-color);
    overflow: hidden;

    /* Curved top */
    .lux-footer__curve {
        display: flex;
        justify-content: center;
        align-items: center;

        &.footer-curve {
            position: relative;
            height: 250px;
            background: var(--bg-color);
            overflow: hidden;
        }

        /* LEFT CURVE */
        &.footer-curve ::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0%;
            width: 50%;
            height: 100%;
            background: var(--bg-dark);
            ;
            border-top-right-radius: 100% 100%;
        }

        /* RIGHT CURVE */
        &.footer-curve ::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0%;
            width: 50%;
            height: 100%;
            background: var(--bg-dark);
            ;
            border-top-left-radius: 100% 100%;
        }

        /* Center text */
        .footer-title {
            position: relative;
            z-index: 2;
            display: block;
            text-align: center;
            font-size: var(--fs12);
            letter-spacing: 2px;
            color: var(--bg-dark);
            padding-top: var(--p40);
        }

    }

    .lux-footer__title {
        font-size: var(--fs12);
        letter-spacing: 2px;
        text-align: center;
        color: var(--bg-dark);
    }

    /* Content */
    .lux-footer__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        gap: 60px;
        padding: var(--p80) var(--p80);
    }

    .lux-footer__col {
        font-size: var(--fs16);
        line-height: 1.7;

        h4 {
            margin-bottom: var(--m20);
            font-weight: var(--fw600);
        }

        p {
            margin: 0;
        }
    }

    .lux-footer__center {
        font-size: var(--fs12);
        letter-spacing: 3px;
        text-align: center;
        color: var(--white-color);
    }

    /* Social */
    .lux-footer__social {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 40px;
        row-gap: 16px;
        padding: var(--p20) var(--p80);
        border-top: 1px solid rgba(255, 255, 255, 30%);
        border-bottom: 1px solid rgba(255, 255, 255, 30%);

        span {
            font-size: var(--f12);
            letter-spacing: 2px;
            color: var(--white-color);
            opacity: 0.7;
            cursor: pointer;
            transition: var(--transition3);

            &:hover {
                opacity: 1;
            }
        }
    }

    /* Bottom */
    .lux-footer__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--p24) var(--p80);
        font-size: var(--fs14);
        color: var(--white-color);
    }

    .lux-footer__logo {
        font-size: var(--fs24);
        font-weight: var(--fw900);
        color: var(--white-color);
    }
}

// footerThree //
.footerthree {
    width: var(--width100);
    background: radial-gradient(circle at top left, #1b1b1b, #000);
    padding: var(--p60) var(--p80) var(--p20);
    position: relative;
    overflow: hidden;

    .footer-top {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 40px;
    }

    .footer-about {
        p {
            max-width: 360px;
            font-size: var(--fs22);
            line-height: var(--line-height-32);
            margin-bottom: var(--m20);
            color: var(--white-color)
        }
    }

    .social-icons {
        display: flex;
        gap: 12px;

        li {
            list-style: none;

            a {
                width: 40px;
                height: 40px;
                background: var(--white-color);
                color: var(--black-color);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: var(--fs16);
                transition: all 1s;

                &:hover {
                    background: var(--gray-color);
                    transition: all .5s;
                    transform: translateY(-10px);
                }
            }
        }
    }

    .footer-links,
    .footer-contact {
        h4 {
            font-size: var(--fs34);
            color: var(--white-color);
            margin-bottom: var(--m20);
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 12px;

            li {
                a {
                    display: inline-block;
                    color: var(--white-color);
                    font-size: var(--fs16);
                    transition: all 1s;

                    &:hover {
                        color: var(--gray-color);
                        transition: all .5s;
                        transform: translateX(10px);
                    }
                }
            }
        }
    }

    .footer-brand {
        margin-top: var(--m60);

        h1 {
            font-size: var(--fs140);
            font-weight: var(--fw600);
            color: var(--white-color);
            opacity: 0.95;
            letter-spacing: -4px;

            span {
                font-size: var(--fs40);
                vertical-align: top;
                margin-left: var(--m6);
            }
        }
    }

    .footer-bottom {
        margin-top: var(--m20);
        text-align: center;
        border-top: 1px solid var(--white-color);
        padding-top: var(--p20);

        p {
            color: var(--white-color);
            font-size: var(--fs18);
        }
    }
}

// footerFour //
.footerFour {
    width: var(--width100);
    background: radial-gradient(ellipse at top,
            rgba(0, 102, 255, 0.35),
            #050510 70%);
    color: var(--white-color);
    padding: var(--p80) var(--p20) var(--p30);

    /* CTA Section */
    .footer-cta {
        text-align: center;
        margin-bottom: var(--m80);

        h2 {
            font-size: var(--fs50);
            font-weight: var(--fw600);
            line-height: 1.3;
            margin-bottom: var(--m30);
        }

        .cta-btn {
            background: linear-gradient(90deg, #ff6a00, #0066ff);
            border: none;
            color: var(--white-color);
            padding: var(--p14) var(--p36);
            font-size: var(--fs18);
            border-radius: var(--br50);
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            gap: 10px;
            transition: all 0.3s ease;

            &:hover {
                transform: translateY(-2px);
                box-shadow: 0 10px 30px rgba(0, 102, 255, 0.4);
            }
        }
    }

    /* Bottom Section */
    .footer-bottom {
        width: var(--width100);
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 50px;
        max-width: 1400px;
        margin: 0 auto var(--m40);

        .footer-logo {
            width: 20%;
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: var(--fs26);
            font-weight: var(--fw600);

            .logo-icon {
                font-size: var(--fs32);
            }
        }

        .footer-links {
            width: 80%;
            display: flex;
            gap: 80px;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }



    .footer-col {
        h4 {
            font-size: var(--fs20);
            margin-bottom: var(--m14);
            color: var(--white-color);
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 12px;
            list-style: none;
            padding: 0;

            li {
                a {
                    display: inline-block;
                    color: var(--gray-color);
                    font-size: var(--fs16);
                    transition: all 1s;

                    &:hover {
                        color: var(--white-color);
                        transition: all .5s;
                        transform: translateX(10px);
                    }
                }
            }
        }
    }

    /* Copyright */
    .footer-copy {
        text-align: center;
        font-size: var(--fs16);
        color: var(--gray-color);
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding-top: var(--p20);
    }
}

// footerFive //

.footerFive {
    width: var(--width100);
    background: var(--bg-color);
    padding: var(--p80) var(--p30) var(--p20) var(--p30);

    .footer-container {
        max-width: 1750px;
        margin: auto;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        gap: 30px;
    }

    .footer-brand {
        display: flex;
        flex-direction: column;
        gap: 22px;

        h3 {
            font-size: var(--fs30);
            font-weight: var(--fw700);
            color: var(--black-color);
        }

        .badge {
            font-size: var(--fs20);
            color: var(--black-color);
            padding: var(--p0);
            text-align: left;
        }

        p {
            color: var(--dark-gray);
            font-size: var(--fs18);
            max-width: 280px;
        }
    }

    .footer-buttons {
        display: flex;
        gap: 12px;

        .btn {
            padding: var(--p10) var(--p18);
            border-radius: 10px;
            font-size: var(--fs16);
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 6px;
            transition: 0.3s;

            &.primary {
                background: var(--purple-color);
                color: var(--white-color);
                border: none;

                &:hover {
                    background: var(--blue-color);
                }
            }

            &.outline {
                background: transparent;
                border: 1px solid var(--black-color);

                &:hover {
                    background-color: var(--purple-color);
                    color: var(--white-color);
                    border-color: var(--purple-color);
                }
            }
        }
    }

    .footer-column {
        h4 {
            font-size: var(--fs22);
            margin-bottom: var(--m18);
            font-weight: var(--fw600);
            color: var(--black-color);
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;

            li {

                a {
                    display: inline-block;
                    color: var(--dark-gray);
                    font-size: var(--fs16);
                    transition: all 1s;

                    &:hover {
                        color: var(--black-color);
                        transition: all .5s;
                        transform: translateX(10px);
                    }
                }
            }
        }

        .template-list {
            li {
                color: var(--dark-gray);
                font-size: var(--fs16);
            }
        }
    }

    .footer-copy {
        width: var(--width100);
        margin-top: var(--m20);
        padding-top: var(--p20);
        border-top: 1px solid var(--purple-color);

        p {
            font-size: var(--fs18);
            text-align: center;
            color: var(--black-color);
            font-weight: var(--fw600);
        }
    }
}

// footerSix //

.footerSix {
    width: var(--width100);
    background: var(--temp1BlueColor);
    padding: var(--p80) var(--p20) var(--p20) var(--p20);

    .footer-top {
        max-width: 1600px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
        gap: 40px;
        padding-bottom: var(--p60);
    }

    .footer-brand {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h2 {
            color: var(--white-color);
            font-size: var(--fs30);
            font-weight: var(--fw700);
        }

        p {

            font-size: var(--fs16);
            color: var(--white-color);
            max-width: 320px;
        }

        .awards {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;

            .award {
                width: 130px;
                height: auto;
                display: inline-flex;
                flex-direction: column;
                gap: 10px;
                justify-self: center;
                align-items: center;
                padding: var(--p16) var(--p8);
                border-radius: var(--br10);
                border: 2px solid var(--green-color02);
                background-color: var(--green-color02);
                transition: all 0.5s;

                strong {
                    font-size: var(--fs26);
                    color: var(--white-color);
                    text-align: center;
                    transition: all 0.5s;
                }

                span {
                    display: block;
                    text-align: center;
                    font-size: var(--fs16);
                    font-weight: var(--fw600);
                    color: var(--white-color);
                    transition: all 0.5s;
                }

                &:hover {
                    background-color: transparent;

                    strong {
                        color: var(--green-color02);
                    }

                    span {
                        color: var(--green-color02);
                    }
                }
            }
        }
    }

    .footer-column {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h4 {
            color: var(--white-color);
            font-size: var(--fs26);
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 16px;

            li {
                a {
                    display: inline-block;
                    color: var(--white-color);
                    font-size: var(--fs16);
                    transition: all 1s;

                    &:hover {
                        color: var(--bottle-green-color);
                        transition: all .5s;
                        transform: translateX(10px);
                    }
                }
            }
        }
    }

    .footer-newsletter {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h3 {
            font-size: var(--fs26);
            color: var(--white-color);
        }

        .newsletter-input {
            display: flex;
            background: var(--white-color);
            border-radius: var(--br10);
            overflow: hidden;

            input {
                flex: 1;
                border: none;
                padding: var(--p14);
                outline: none;
                color: var(--black-color);
                font-size: var(--fs16);
            }

            button {
                background: var(--bottle-green-color);
                color: var(--white-color);
                border: none;
                padding: 0 var(--p18);
                cursor: pointer;
            }
        }

        .checkbox {
            display: flex;
            gap: 8px;
            margin-top: var(--m14);
            font-size: var(--fs16);
            color: var(--green-color02);

            input {
                padding: 0;
                height: initial;
                width: initial;
                margin-bottom: 0;
                display: none;
                cursor: pointer;
            }

            label {
                position: relative;
                cursor: pointer;
                font-size: var(--fs16);
                color: var(--green-color02);
            }

            label:before {
                content: '';
                appearance: none;
                background-color: transparent;
                border: 2px solid var(--bottle-green-color);
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
                padding: 10px;
                display: inline-block;
                position: relative;
                vertical-align: middle;
                cursor: pointer;
                margin-right: var(--m8);
            }

            input:checked+label:after {
                content: '';
                display: block;
                position: absolute;
                top: 5px;
                left: 8px;
                width: 8px;
                height: 14px;
                border: solid var(--bottle-green-color);
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }
    }

    .footer-bottom {
        border-top: 1px solid rgba(249, 246, 246, 0.1);
        padding: var(--p20) var(--p20);
        max-width: var(--width100);
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

        .footer-contact {
            display: flex;
            gap: 20px;

            .contact-item {
                display: flex;
                align-items: center;
                gap: 8px;
                color: var(--green-color02);
                font-size: var(--fs16);
                transition: all 0.5s;

                &:hover {
                    color: var(--bottle-green-color);
                }
            }
        }

        .footer-socials {
            display: flex;
            gap: 12px;

            a {
                color: var(--green-color02);
                font-size: var(--fs16);
                transition: all 0.5s;

                &:hover {
                    color: var(--bottle-green-color);
                }
            }
        }

        p {
            font-size: var(--fs16);
            color: var(--green-color02);
            transition: all 0.5s;

            &:hover {
                color: var(--bottle-green-color);
            }
        }
    }
}

// footerSeven //

.footerSeven {
    width: var(--width100);
    background: var(--bg-color);
    position: relative;
    overflow: hidden;

    .new_footer_top {
        padding: var(--p100) 0 var(--p270);
        position: relative;

        .f_widget {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .f-title {
                font-size: var(--fs20);
                font-weight: var(--fw600);
                color: var(--loyal-blue-dark);
            }

            p {
                color: var(--blue-color);
                font-size: var(--fs16);
                line-height: var(--line-height-26);
            }

            .f_subscribe_two {
                margin-top: var(--m10);
                display: inline-flex;
                flex-direction: column;
                padding-right: var(--p32);
                gap: 16px;

                input {
                    width: var(--width100);
                    height: 45px;
                    padding: 0 var(--p16);
                    border: 1px solid var(--bg-color);
                    border-radius: var(--br4);
                    margin-bottom: var(--m10);
                }

                button {
                    max-width: 160px;
                    background: var(--purple-color);
                    color: var(--white-color);
                    border: none;
                    padding: var(--p10) var(--p24);
                    border-radius: var(--br4);
                    cursor: pointer;
                    transition: all 0.5s;

                    &:hover {
                        background: #8b5cf691;
                    }
                }
            }

            .f_list {
                display: flex;
                flex-direction: column;
                gap: 10px;

                li {
                    a {
                        display: inline-block;
                        color: var(--purple-color);
                        text-decoration: none;
                        transition: all 1s;

                        &:hover {
                            color: #8b5cf691;
                            transition: all .5s;
                            transform: translateX(10px);
                        }
                    }
                }
            }

            .f_social_icon {
                display: flex;
                gap: 10px;

                a {
                    width: 40px;
                    height: 40px;
                    border: 1px solid var(--purple-color);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--purple-color);
                    transition: all 0.5s;

                    &:hover {
                        background: #8b5cf691;
                        color: var(--white-color);
                        border: #8b5cf691;
                    }
                }
            }
        }
    }


    .footer_bg {
        position: absolute;
        bottom: 0;
        width: var(--width100);
        height: 200px;
        background: url("../../../assets/images/footerseven_bg.png") no-repeat center bottom;



        .footer_bg_one {
            background: url("../../../assets/images/car_footer7_img.png") no-repeat 50%;
            width: 70px;
            height: 50px;
            position: absolute;
            bottom: 0;
            left: 30%;
            -webkit-animation: myfirst 22s linear infinite;
            animation: myfirst 22s linear infinite;
        }

        .footer_bg_two {
            background: url("../../../assets/images/bike_footer7_img.png") no-repeat 50%;
            width: 50px;
            height: 52px;
            bottom: 0;
            left: 38%;
            position: absolute;
            -webkit-animation: myfirst 30s linear infinite;
            animation: myfirst 30s linear infinite;
        }


    }

    .footer_bottom {
        background: var(--bg-color);
        padding: var(--p20) 0;
        border-top: 1px solid var(--bg-color);

        p {
            margin: 0;
            font-size: var(--fs18);

            svg {
                color: red;
                margin: 0 var(--m4);
            }

            a {
                color: var(--blue03-color);
            }

            &.info_left {
                text-align: left;
            }

            &.info_right {
                text-align: right;
            }
        }
    }
}

@keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}

//  FooterEight //

.FooterEight {
    width: var(--width100);
    background: var(--dark-gray);
    border-radius: var(--br30);
    padding: var(--p60) var(--p30);
    color: var(--black-color);
    position: relative;

    .footer-inner {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr 1fr 1fr;
        gap: 40px;
    }

    .footer-col {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h2 {
            font-size: var(--fs64);
            font-weight: var(--fw800);
            color: var(--white-color);
        }

        p {
            max-width: 420px;
            font-size: var(--fs16);
            line-height: var(--line-height-22);
            color: var(--white-color);
        }

        h4 {
            font-size: var(--fs24);
            font-weight: var(--fw800);
            color: var(--white-color);
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;

            li {
                a {
                    display: inline-block;
                    color: var(--white-color);
                    font-size: var(--fs16);
                    transition: all 1s;

                    &:hover {
                        transition: all .5s;
                        transform: translateX(10px);
                    }
                }
            }
        }

        .socials {
            display: flex;
            gap: 12px;

            a {
                width: 38px;
                height: 38px;
                background: var(--black-color);
                color: var(--white-color);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: var(--fs16);
                transition: all 1s;

                &:hover {
                    transition: all .5s;
                    transform: translateY(-10px);
                }
            }
        }

        .newsletter-box {
            display: flex;
            align-items: center;
            background: var(--white-color);
            border-radius: var(--br40);
            padding: var(--p6);

            input {
                border: none;
                padding: var(--p14) var(--p18);
                flex: 1;
                outline: none;
                border-radius: var(--br40);
                font-size: var(--fs16);
                color: var(--black-color);

                &::placeholder {
                    color: var(--black-color);
                }
            }

            button {
                width: 44px;
                height: 44px;
                background: var(--black-color);
                border: none;
                color: var(--white-color);
                border-radius: 50%;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .footer-bottom {
        text-align: center;
        margin-top: var(--m60);
        padding-top: var(--p20);
        border-top: 1px solid rgba(247, 246, 246, 0.1);

        p {
            font-size: var(--fs18);
            color: var(--white-color);
            font-family: var(--fw700);
        }
    }
}

//  footerNine  //

.footerNine {
    width: var(--width100);
    background-color: var(--olive-green);
    padding: var(--p80) var(--p30);
    position: relative;

    .footer_container {
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        text-align: center;

        .footer_box {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h3 {
                font-size: var(--fs32);
                color: var(--white-color);
            }

            p {
                font-size: var(--fs16);
                color: var(--white-color);
                line-height: 1.8;
            }


            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;

                li {
                    a {
                        display: inline-block;
                        color: var(--white-color);
                        font-size: var(--fs16);
                        transition: all 1s;

                        &:hover {
                            opacity: 0.7;
                            transition: all 0.5s;
                            transform: translateX(10px);
                        }
                    }
                }
            }
        }

        .footer_social {
            margin-top: var(--m20);

            a {
                width: 42px;
                height: 42px;
                background: var(--white-color);
                color: var(--olive-green);
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                margin: 0 var(--m6);
                transition: all 1s;

                &:hover {
                    transition: all 0.5s;
                    transform: translateY(-10px);
                }
            }
        }
    }

    .footer_bottom {
        margin-top: var(--m60);
        text-align: center;
        color: var(--white-color);
        font-size: var(--f22);
        font-weight: var(--fw800);
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: url('../../../assets/images/footer9-shape2.svg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 250px;
        height: 250px;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        background-image: url('../../../assets/images/footer9-shape1.svg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 185px;
        height: 215px;
    }

}

// footerTen //

.footerTen {
    width: var(--width100);
    background: var(--bg-color);
    padding-top: var(--p100);
    position: relative;
    text-align: center;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-image: url('../../../assets/images/footer10_logo_bg.png');
        background-repeat: no-repeat;
        background-position: center center;
        width: var(--width100);
        height: 100%;
    }

    .footer_social {
        position: relative;
        z-index: 22;
        max-width: 1100px;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 24px;

        .footer_logo {
            margin: 0 auto;
        }

        h2 {
            font-size: var(--fs32);
            font-weight: var(--fw700);
            color: var(--black-color);
        }

        p {
            font-size: var(--fs16);
            color: var(--dark-gray);
        }

        .footer_social-links {
            display: flex;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;

            .social-btn {
                display: inline-flex;
                align-items: center;
                gap: 24px;
                padding: var(--p20) var(--p40);
                min-width: 180px;
                background-color: var(--white-color);
                box-shadow: rgba(0, 0, 0, 0.06) 0px 7.77px 16px 0px, rgba(0, 0, 0, 0.1) 0px 3px 3px 0px, rgba(0, 0, 0, 0.05) 0px -8px 0px 0px inset, rgba(255, 255, 255, 0.6) 0px 4px 0px 0px inset;
                border-radius: var(--br24);
                font-size: var(--fs16);
                font-weight: var(--fw600);
                color: var(--black-color);
                text-decoration: none;
                box-shadow:
                    0 10px 18px rgba(0, 0, 0, 0.08),
                    inset 0 1px 0 rgba(255, 255, 255, 0.8);
                transition: all 0.35s ease;

                span {
                    flex: 1;
                    white-space: nowrap;
                }

                i {
                    width: 32px;
                    height: 32px;
                    background: var(--black-color);
                    color: var(--white-color);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: var(--fs14);
                    box-shadow:
                        inset 0 -1px 2px rgba(255, 255, 255, 0.25),
                        0 4px 8px rgba(0, 0, 0, 0.2);
                }

                &:hover {
                    transform: translateY(-4px);
                    box-shadow:
                        0 16px 30px rgba(0, 0, 0, 0.12),
                        inset 0 1px 0 rgba(255, 255, 255, 0.9);
                }

                &:active {
                    transform: translateY(-1px);
                    box-shadow:
                        0 8px 14px rgba(0, 0, 0, 0.12),
                        inset 0 2px 4px rgba(0, 0, 0, 0.15);
                }
            }

        }
    }

    .footer_bottom {
        margin-top: var(--m80);
        padding: var(--p24) var(--p60);
        border-top: 1px solid var(--gray-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 22;

        .footer_menu {
            display: flex;
            gap: 20px;
            list-style: none;

            li {
                a {
                    font-size: var(--fs16);
                    color: var(--dark-gray);
                    text-decoration: none;
                    position: relative;
                    transition: all 0.5s;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .footer_copyright {
            font-size: var(--fs16);
            color: var(--dark-gray);
        }
    }
}

//  SiteCore_footer_Wrapper css start //

.SiteCore_footer_Wrapper {
    width: var(--width100);
    background: var(--temp1BlueColor);

    .footerGroup {
        padding-top: var(--p60);
    }

    .hrLine {
        border-top: 1px solid var(--bg-color);
        margin: var(--m40) var(--m0);
    }

    /* partner logos */

    .bsPartnerLogo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 16px;

        .bsPartnerLogoItem {
            padding: var(--p10) var(--p10);

            img {
                max-height: 80px;
                opacity: 0.7;
                transition: 0.3s;
            }

            img:hover {
                opacity: 1;
            }
        }
    }

    /* footer inner */

    .footerInner {
        padding-bottom: var(--p40);

        .footerInnerRow {
            align-items: flex-start;
            gap: 50px;
        }

        /* left section */

        .footerInnerCol1 {
            width: 46%;

            .footerLogoGroup {
                margin-bottom: var(--m50);

                .footerLogo {
                    img {
                        max-width: 180px;
                    }
                }

                .footerPara {
                    p {
                        font-size: var(--fs16);
                        color: var(--white-color);
                    }
                }
            }

            /* subscribe */

            .subscribeGroup {
                background: var(--temSitecoreRamaColor);
                padding: var(--p30) var(--p30);

                h2 {
                    font-size: var(--fs20);
                    margin-bottom: var(--m20);
                    color: var(--white-color);
                    text-align: center;
                }

                input {
                    border-radius: var(--br50);
                    margin-bottom: var(--m16);
                    color: var(--black-color);
                    font-size: var(--fs16);
                    padding: var(--p14) var(--p24);
                    outline: none;
                    border: none;

                    &:focus {
                        outline: none;
                        border: none;
                    }
                }

                .mintGreenOutlineBtn {
                    width: 100%;
                }
            }
        }

        /* right section */

        .footerInnerCol2 {

            h4 {
                font-size: var(--fs20);
                color: var(--white-color);
                margin-bottom: var(--m20);
            }

            .nav {
                .nav-item {
                    margin-bottom: var(--m10);

                    .nav-link {
                        color: var(--white-color);
                        font-size: var(--fs16);
                        display: flex;
                        align-items: center;
                        gap: 3px;
                        padding: 0;

                        i {
                            font-size: var(--fs6);
                            margin-right: var(--m8);
                            position: relative;
                            top: -2px;
                        }
                    }

                    .nav-link:hover {
                        color: var(--bottle-green-color);
                    }
                }
            }

            /* social */

            .socialMediaIconRow {
                margin-top: var(--m20);

                .socialMediaIcon {

                    .nav {
                        gap: 10px;

                        .nav-item {

                            .nav-link {
                                width: 40px;
                                height: 40px;
                                background: var(--temSitecoreRamaColor);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: var(--white-color);
                                border-radius: var(--br50);
                                transition: 0.3s;
                            }

                            .nav-link:hover {
                                background: var(--green-color02);
                            }
                        }
                    }
                }

                /* support */

                .helpSupport {
                    text-align: right;

                    span {
                        display: block;
                        font-size: var(--fs18);
                        color: var(--white-color);
                    }

                    h5 {
                        margin: 0;

                        a {
                            color: var(--bottle-green-color);
                            font-size: var(--fs20);
                            font-weight: var(--fw600);
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    /* copyright */

    .footerCopyRight {
        text-align: center;
        padding-bottom: var(--p30);

        p {
            font-size: var(--fs16);
            color: var(--white-color);

            a {
                color: var(--bottle-green-color);
                text-decoration: none;
            }
        }
    }
}

@keyframes fadeSlide {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


//  HomeCafe Footer Css Start  //

.cafe-footer-main-wrapper {
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/images/homecafe/CafeFooterBgImg.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: var(--p80) var(--p0) var(--p30);

    .footer-main-wrapper {
        display: flex;
        flex-wrap: wrap;
        padding-top: var(--p80);
        display: flex;
        gap: 40px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3882352941);
        padding-bottom: var(--p40);
        color: var(--white-color);

        .footer-column {
            flex: 1;
            min-width: 250px;
        }

        .footer-contact-wrapper {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-top: var(--m20);

            .contact-icon {
                width: 42px;
                height: 42px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                transition: 0.3s;


                svg {
                    width: 24px;
                    height: 24px;
                    fill: var(--primaryGreen);
                }

                &:hover {
                    background: var(--white-color);
                }
            }

            .contact-text {
                p {
                    font-family: var(--roboto-font);
                    font-size: var(--fs16);
                    color: var(--white-color);
                }

            }
        }

        h4 {
            font-family: var(--roboto-font);
            font-size: var(--fs22);
            margin-bottom: var(--m24);
            font-weight: var(--fw600);
        }

        ul {
            list-style: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            column-gap: 24px;
            row-gap: 10px;
            margin-bottom: var(--m24);

            a {
                color: var(--white-color);
                text-decoration: none;
                font-size: var(--fs16);
                transition: 0.3s;

                &:hover {
                    color: var(--primaryGreen);
                }
            }
        }

        .social-icon {
            display: flex;
            gap: 12px;

            a {
                width: 40px;
                height: 40px;
                border: 1px solid rgba(255, 255, 255, 0.3);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--white-color);
                transition: 0.3s;

                &:hover {
                    background: var(--primaryGreen);
                    border-color: var(--primaryGreen);
                }
            }
        }

        .media-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;

            .media-img {
                position: relative;
                overflow: hidden;
                border-radius: var(--br4);

                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }

                .insta-icon {
                    position: absolute;
                    inset: 0;
                    background: rgba(81, 131, 94, 0.8);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 0;
                    transition: 0.4s;

                    a {
                        svg {
                            width: 24px;
                            height: 24px;
                            fill: var(--white-color);
                        }
                    }
                }

                &:hover .insta-icon {
                    opacity: 1;
                }
            }
        }
    }

    .footer-bottom-wrapper {
        text-align: center;
        padding-top: 30px;

        p {
            color: var(--white-color);
            font-size: var(--fs16);
            font-weight: var(--fw600);

            a {
                color: var(--primaryGreen);
                text-decoration: none;

            }
        }
    }
}

// RTl version css start //


[dir="rtl"] {
    .SiteCore_footer_Wrapper {
        .footerInner {
            .footerInnerCol2 {
                .nav {
                    .nav-item {
                        .nav-link {
                            justify-content: end;
                            flex-direction: row-reverse;
                            gap: 10px;
                        }
                    }
                }

                .socialMediaIconRow {
                    .socialMediaIcon {
                        .nav {
                            justify-content: flex-end;
                        }
                    }

                    .helpSupport {
                        text-align: left;
                    }
                }
            }
        }
    }

    .footerFive {
        .footer-brand {
            align-items: end;
        }
    }

    .footerSix {
        .footer-brand {
            align-items: end;
        }

        .footer-newsletter {
            align-items: end;
        }
    }

    .footerSeven {
        .new_footer_top {
            .f_widget {
                align-items: end;

                .f_subscribe_two {
                    padding-left: var(--p32);
                    padding-right: inherit;
                    align-items: end;
                }
            }
        }
    }

    .footerthree {
        .footer-top {
            .footer-about {
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: flex-end;
            }
        }
    }

    .FooterEight {
        .footer-col {
            align-items: end;
        }
    }

    .footerSeven {
        .footer_bottom {
            p {
                &.info_left {
                    text-align: right;
                }

                &.info_right {
                    text-align: left;
                }
            }
        }
    }

    .SiteCore_footer_Wrapper {
        .footerInner {
            .footerInnerCol1 {
                .subscribeGroup {
                    input {
                        text-align: right;
                    }
                }
            }
        }
    }

    .cafe-footer-main-wrapper {
        .footer-main-wrapper {
            .footer-contact-wrapper {
                justify-content: end;
                flex-direction: row-reverse;
            }
        }

        .footer-main-wrapper {
            ul {
                justify-content: end;
            }

            .social-icon {
                justify-content: end;
            }
        }
    }
}



//  responsive css start  //

@include responsive(lg) {
    .footerFive .footer-container {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

    .FooterEight .footer-inner {
        grid-template-columns: auto auto auto;
    }
}

@include responsive(lg-md) {
    .SiteCore_footer_Wrapper .footerInner .footerInnerRow {
        gap: 30px;
    }

    .SiteCore_footer_Wrapper .footerInner .footerInnerCol1 .footerLogoGroup .footerPara {
        margin-left: 20px;
        max-width: 300px;
    }

    .SiteCore_footer_Wrapper .footerInner .footerInnerCol2 .socialMediaIconRow {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    .SiteCore_footer_Wrapper .footerInner .footerInnerCol2 .socialMediaIconRow .helpSupport {
        text-align: center;
    }

    .SiteCore_footer_Wrapper .footerInner .footerInnerCol2 .socialMediaIconRow .socialMediaIcon .nav {
        align-items: center;
        justify-content: center;
    }

}

@include responsive(tablet) {
    .SiteCore_footer_Wrapper .footerInner .footerInnerCol1 {
        width: 100%;
    }

    .SiteCore_footer_Wrapper .footerInner .footerInnerCol2 {
        width: 100%;
    }

    .SiteCore_footer_Wrapper .footerInner .footerInnerCol1 .footerLogoGroup .footerPara {
        max-width: 100%;
    }

    .SiteCore_footer_Wrapper .footerInner {
        padding-bottom: var(--p0);
    }
}


@include responsive(tablet-sm) {
    .footerOne .footer-top {
        flex-direction: column;
    }

    .footerOne .footer-top h2 {
        text-align: center;
    }

    .footerTwo .lux-footer__content {
        gap: 30px;
        padding: 34px 34px;
    }

    .footerTwo .lux-footer__bottom {
        padding: 20px 34px;
    }

    .footerTwo .lux-footer__social {
        padding: 20px 34px;
        justify-content: center;
    }

    .footerFour .footer-bottom .footer-links {
        gap: 35px;
    }

    .FooterEight .footer-inner {
        grid-template-columns: auto auto;
    }

    .footerNine::before {
        width: 100px;
        height: 100px;
    }

    .footerNine::after {
        width: 80px;
        height: 100px;
    }

    .footerSeven .new_footer_top .row {
        row-gap: 30px;
    }

    .footerSeven .footer_bottom .row {
        row-gap: 10px;
    }

    .footerSeven .footer_bottom p.info_left {
        text-align: center;
    }

    .footerSeven .footer_bottom p.info_right {
        text-align: center;
    }

    .cafe-footer-main-wrapper {
        background-image: none;
        background-color: #222222;
    }

    .cafe-footer-main-wrapper .footer-main-wrapper {
        padding-top: var(--p0);
    }

    .cafe-footer-main-wrapper .footer-main-wrapper .media-wrapper {
        max-width: 440px;
    }
}

@include responsive(mobile) {
    .footerTwo .lux-footer__center {
        text-align: left;
    }

    .footerTwo .lux-footer__curve.footer-curve {
        height: 175px;
    }

    .footerTwo .lux-footer__title {
        margin-bottom: 60px;
    }

    .footerthree {
        padding: 50px 35px 16px;
    }

    .footerFour .footer-bottom {
        flex-direction: column;
    }

    .footerFour .footer-bottom .footer-logo {
        width: var(--width100);
        display: flex;
        justify-content: center;
    }

    .footerFour .footer-bottom .footer-links {
        width: var(--width100);
    }

    .footerNine .footer_container {
        grid-template-columns: repeat(1, 1fr);
    }

    .FooterEight .footer-inner {
        grid-template-columns: auto;
    }

    .footerTen .footer_bottom {
        flex-direction: column;
        gap: 16px;
    }

    .SiteCore_footer_Wrapper .footerInner .footerInnerCol1 .footerLogoGroup .footerLogo {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .SiteCore_footer_Wrapper .footerInner .footerInnerCol1 .footerLogoGroup {
        margin-bottom: var(--m50);
    }

    .SiteCore_footer_Wrapper .footerInner .footerInnerCol1 .footerLogoGroup .row {
        gap: 30px;
    }

    .SiteCore_footer_Wrapper .footerInner .footerInnerCol1 .footerLogoGroup .footerPara p {
        text-align: center;
    }

    .SiteCore_footer_Wrapper .footerInner .footerInnerCol2 .row {
        row-gap: 30px;
    }

    .cafe-footer-main-wrapper .footer-main-wrapper {
        flex-direction: column;
    }


}

@include responsive(mobile-sm) {
    .footerTwo .lux-footer__bottom {
        flex-direction: column;
        gap: 10px;
    }

    .footerthree .footer-brand h1 {
        font-size: 90px;
    }

    .footerFive .footer-container {
        grid-template-columns: repeat(auto-fit, minmax(289px, 1fr));
    }

    .footerFour .footer-cta h2 {
        font-size: 32px;
    }

    .footerSix .footer-bottom {
        gap: 14px;
        flex-direction: column;
        padding: var(--p16) var(--p8);
    }

    .footerSix .footer-top {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }

    .footerSix .footer-bottom .footer-contact {
        gap: 14px;
        flex-direction: column;
    }

    .FooterEight .footer-col h2 {
        font-size: 50px;
    }

    .SiteCore_footer_Wrapper .bsPartnerLogo {
        justify-content: center;
        column-gap: 30px;
        row-gap: 16px;
    }
}

@include responsive(xs) {
    .footerOne .footer-top h2 {
        font-size: 28px;
    }

    .footerOne .footer-links .footer-column h4 {
        font-size: 24px;
    }

    .footerOne {
        padding: 20px 20px;
    }

    .footerOne .footer-top .subscribe-box {
        flex-direction: column;
        width: var(--width100);
    }

    .footerOne .footer-top .subscribe-box input {
        width: var(--width100);
    }

    .footerthree {
        padding: 50px 22px 16px;
    }

    .footerthree .footer-brand h1 {
        font-size: 70px;
    }

    .footerSix .footer-brand p {
        max-width: var(--width100);
    }

    .footerSix .footer-newsletter .newsletter-input {
        width: var(--width100);
    }

    .footerFive .footer-copy p {
        font-size: 16px;
    }

    .footerSix .footer-brand .awards {
        gap: 20px;
    }

    .FooterEight {
        padding: 40px 20px;
    }
}