// ==================== All Component Css Start  =================== //

// cafe-breakfast-main-wrapper css start //

.cafe-breakfast-main-wrapper {
    width: 100%;
    padding: var(--p60) var(--p0);

    .breakfast-wrapper {
        width: 100%;
        display: flex;

        .breakfast-img {
            width: 40%;
            position: relative;
            overflow: hidden;
            text-align: center;

            img {
                width: 80%;
            }

            .img-back {
                width: 100%;
                height: 374px;
                background-color: #eef3ef;
                position: absolute;
                bottom: 50px;
                left: 18px;
                z-index: -1;

                h4 {
                    writing-mode: vertical-rl;
                    text-orientation: mixed;
                    width: 100%;
                    padding: var(--p20);
                    color: var(--primaryGreen);
                    font-size: var(--fs40);
                    font-weight: var(--fw600);
                    margin-top: var(--m50);
                    animation-duration: 6s;
                    animation-delay: 1000ms;
                    animation-iteration-count: infinite;
                    animation-name: bounce;
                }
            }

            &:before {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 2;
                display: block;
                content: '';
                width: 0;
                height: 0;
                background: rgba(255, 255, 255, .2);
                border-radius: 100%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                opacity: 0;
            }

            @-webkit-keyframes circle {
                0% {
                    opacity: 1;
                }

                40% {
                    opacity: 1;
                }

                100% {
                    width: 200%;
                    height: 200%;
                    opacity: 0;
                }
            }

            @keyframes circle {
                0% {
                    opacity: 1;
                }

                40% {
                    opacity: 1;
                }

                100% {
                    width: 200%;
                    height: 200%;
                    opacity: 0;
                }
            }

            &:hover {
                &:before {
                    -webkit-animation: circle .75s;
                    animation: circle .75s;
                }
            }
        }

        .breakfast-text {
            width: 60%;
            padding-left: 10%;

            .cafe-menu-title {
                width: 100%;

                h4 {
                    font-size: var(--fs26);
                    font-weight: var(--fw700);
                    color: var(--primaryGreen);
                    font-family: var(--roboto-font);
                }

                h2 {
                    font-size: var(--fs40);
                    font-weight: var(--fw600);
                    font-family: var(--heading-font);
                    color: var(--black-color);
                    padding-top: var(--p20);
                }
            }

            .winning-award {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 20px;
                margin-top: var(--m20);

                h2 {
                    font-size: var(--fs100);
                    -webkit-text-fill-color: transparent;
                    -webkit-text-stroke: 2px #CDB888;
                    font-family: var(--roboto-font);
                    font-weight: var(--fw700);
                }

                .award-text {
                    h4 {
                        font-size: var(--fs30);
                        color: var(--primaryGreen);
                        font-weight: var(--fw700);
                        font-family: var(--heading-font);
                    }

                    p {
                        font-size: var(--fs16);
                        color: var(--gray-color);
                        font-family: var(--heading-font);
                        font-weight: var(--fw400);
                        padding-top: var(--p5);
                    }
                }
            }

            .text-back {
                background-color: #cdb88833;
                width: 100%;
                padding: var(--p24);
                margin-top: var(--m8);

                p {
                    font-size: var(--fs20);
                    font-weight: var(--fw600);
                    color: var(--black-color);
                    font-family: var(--roboto-font);
                }
            }

            .text-para {
                p {
                    font-size: var(--fs20);
                    font-weight: var(--fw600);
                    color: var(--gray-color);
                    padding-top: var(--p20);
                    font-family: var(--roboto-font);
                }
            }

            .cafe-btn {
                margin-top: var(--m30);
            }
        }
    }
}

// cafe-testi-main-wrapper css start //

.cafe-testi-main-wrapper {
    width: 100%;
    margin-top: -140px;
    padding-bottom: var(--p60);

    .cafe-testimonial-main-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        background-color: var(--white-color);
        box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.06);
        padding: var(--p40);
        border-radius: var(--br12);
        height: 567px;
        position: relative;

        .testimonial-content {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            position: relative;
            border-right: 1px solid #cccccc;

            .cafe-menu-title {
                h4 {
                    font-size: var(--fs26);
                    font-weight: var(--fw700);
                    color: var(--primaryGreen);
                    font-family: var(--roboto-font);
                    text-transform: uppercase;
                }

                h2 {
                    font-size: var(--fs40);
                    font-weight: var(--fw600);
                    font-family: var(--roboto-font);
                    color: var(--black-color);
                    padding-top: var(--p20);
                    max-width: 490px;
                }

                .cafe-btn {
                    margin-top: var(--m30);
                }
            }

            &:after {
                content: '';
                position: absolute;
                right: 30px;
                top: 0;
                background-image: url('../../../assets/images/homecafe/quote.png');
                background-position: top right;
                background-size: cover;
                background-repeat: no-repeat;
                width: 150px;
                height: 150px;
            }
        }

        .testimonial-slider-wrapper {
            width: 50%;
            padding: var(--p0) var(--p50);

            .test-text {
                p {
                    font-size: var(--fs20);
                    color: var(--gray-color);
                    font-weight: var(--fw400);
                    font-family: var(--roboto-font);
                }

                h4 {
                    margin-top: var(--m20);

                    a {
                        font-size: var(--fs22);
                        color: var(--black-color);
                        font-family: var(--roboto-font);
                        font-weight: var(--fw600);
                    }
                }

                small {
                    color: var(--black-color);
                }
            }

            .carousel-indicators [data-bs-target] {
                text-indent: 0 !important;
            }

            .carousel-indicators {
                bottom: -110px;
                align-items: center;

                button {
                    width: 50px;
                    height: 50px;
                    display: inline-block;
                    border-radius: 50% !important;
                    overflow: hidden;

                    img {
                        width: 100%;
                    }

                    &.active {
                        width: 60px;
                        height: 60px;
                        border: 4px solid var(--primaryGreen);
                    }
                }
            }
        }

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            background-image: url('../../../assets/images/homecafe/test-back.png');
            background-position: top left;
            background-size: cover;
            background-repeat: no-repeat;
            width: 408px;
            height: 567px;
        }

        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            background-image: url('../../../assets/images/homecafe/test-back1.png');
            background-position: top right;
            background-size: cover;
            background-repeat: no-repeat;
            width: 408px;
            height: 567px;
        }
    }
}


// cafe-brand-main-wrapper css start //
.cafe-brand-main-wrapper {
    width: 100%;
    padding: var(--p60) var(--p0) var(--p200);
    background-color: var(--primaryGreen);

    .brand-main-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .brand-img {
            width: 25%;
            text-align: center;

            img {}
        }
    }

}


//  cafe-gallery-main-wrappper css start //
.cafe-gallery-main-wrappper {
    width: 100%;
    padding: var(--p60) var(--p0);
    background-color: var(--white-color);

    .gallery-top-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .cafe-menu-title {
            h4 {
                font-size: var(--fs26);
                font-weight: var(--fw700);
                color: var(--primaryGreen);
                font-family: var(--roboto-font);
            }

            h2 {
                font-size: var(--fs40);
                font-weight: var(--fw600);
                font-family: var(--heading-font);
                color: var(--black-color);
                padding-top: var(--p20);
            }
        }
    }

    .gallery-main-wrapper {
        width: 100%;
        display: flex;
        gap: 30px;
        margin-top: var(--m60);
        justify-content: center;

        .gallery-step1 {
            .portfolio_img_wrapper {
                text-align: center;
                margin-bottom: var(--m14);

                .portfolio_img {
                    display: inline-block;
                    position: relative;
                    overflow: hidden;
                    width: 100%;

                    img {
                        width: 100%;
                    }

                    .portfolio_img_text {
                        position: absolute;
                        z-index: 10;
                        transition: 0.5s ease-out;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        opacity: 0;

                        span {
                            svg {}
                        }
                    }

                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        height: 0%;
                        width: 100%;
                        bottom: 0;
                        transition: height 0.5s ease-out;
                        background: linear-gradient(to bottom, transparent 0%, #000 100%);
                        z-index: 9;
                    }

                    &:hover {
                        &:before {
                            height: 60%;
                        }

                        .portfolio_img_text {
                            opacity: 1;
                            transition: 0.5s ease-out;
                        }
                    }
                }


            }
        }

        .gallery-step2 {
            .portfolio_img_wrapper {
                text-align: center;

                .portfolio_img {
                    display: inline-block;
                    position: relative;
                    overflow: hidden;
                    width: 100%;

                    img {
                        width: 100%;
                    }

                    .portfolio_img_text {
                        position: absolute;
                        z-index: 10;
                        transition: 0.5s ease-out;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        opacity: 0;

                        span {
                            svg {
                                width: 80px;
                                height: 80px;
                            }
                        }
                    }

                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        height: 0%;
                        width: 100%;
                        bottom: 0;
                        transition: height 0.5s ease-out;
                        background: linear-gradient(to bottom, transparent 0%, #000 100%);
                        z-index: 9;
                    }

                    &:hover {
                        &:before {
                            height: 60%;
                        }

                        .portfolio_img_text {
                            opacity: 1;
                            transition: 0.5s ease-out;
                        }
                    }
                }


            }

            .gallery-step3 {
                display: flex;
                gap: 20px;
                margin-top: var(--m14);
            }
        }
    }
}

// video css start //
.cafe-video-main-wrapper {
    width: 100%;

    .video-box-wrapper {
        width: 100%;
        position: relative;
        text-align: center;

        .overlay1 {
            .popup-youtube {
                position: absolute;
                top: 50%;
                width: 90px;
                height: 90px;
                font-size: var(--fs34);
                background: var(--white-color);
                text-align: center;
                line-height: 85px;
                border-radius: 50px;
                color: pink;
                transform: translate(-50%, -50%);

                .c-play {
                    display: block;
                    width: 63px;
                    position: absolute;
                    top: -2px;
                    left: 13px;

                    img {
                        width: 100%;
                        transition: all 0.5s;
                    }

                    &:hover {
                        img {
                            animation: rotation infinite 3s linear;
                            transition: all 0.5s;
                        }
                    }

                    @keyframes rotation {
                        from {
                            transform: rotate(0deg);
                        }

                        to {
                            transform: rotate(360deg);
                        }
                    }
                }
            }
        }

        .video-wrap {
            display: flex;
            justify-content: center;
            position: relative;

            .video-player {
                width: 100%;

                video {
                    width: 100%;
                }

                .wrapper {
                    top: 50%;
                    position: absolute;
                }
            }

            .video-img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;

                    &.disp-img {
                        display: none;
                    }
                }
            }

            #myBtn {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 60px;

                &.show-text {
                    z-index: 100;
                }
            }

            #myBtn1 {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);

                &.show-text {
                    z-index: 100;
                }
            }

            #myBtn3 {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);

                &.show-text {
                    z-index: 100;
                }
            }

            #para {
                position: absolute;
                display: none;
                max-width: 650px;
                left: 245px;
                left: 70px;
                z-index: 99;
                top: 50%;
                transform: translateY(-50%);

                h2 {
                    color: var(--white-color);
                }

                h4 {
                    color: var(--white-color);
                    margin: var(--m30) var(--m0);
                    line-height: 45px;
                }

                &.display-para {
                    display: none !important;
                }

                .vdo-btn {
                    display: flex;
                    column-gap: 25px;
                }
            }

            .overlay-video {
                height: 100%;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.178);
                position: absolute;
                cursor: pointer;
                top: 0;
                bottom: 0;
            }

            .main-btn {
                background-color: #58595B;
                color: var(--white-color);
                margin-top: var(--m30);
            }
        }

        #mobVideo {
            height: 100vh;
        }
    }
}