.SiteCoreblogSingle {
    width: var(--width100);
    padding: var(--p80) var(--p0);
    background-color: var(--white-color);

    .blogSingleInner {
        .row {
            row-gap: 30px;
        }
    }
}